<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="IssueManagment.Specs.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <specFlow >
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <unitTestProvider name="MsTest"/>
  </specFlow>
  <userSettings>
    <IssueManagment.Specs.Properties.Settings>
      <setting name="IssuesManagment_GITHUBUSERNAME" serializeAs="String">
        <value>issues-managment-test</value>
      </setting>
      <setting name="IssuesManagment_GITHUBORGANIZATION" serializeAs="String">
        <value>Issues-Managment-Org</value>
      </setting>
      <setting name="IssuesManagment_OAUTHTOKEN" serializeAs="String">
        <value />
      </setting>
      <setting name="IssuesManagment_GITHUBPASSWORD" serializeAs="String">
        <value>2345jhon</value>
      </setting>
    </IssueManagment.Specs.Properties.Settings>
  </userSettings>
</configuration>